---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,400;0,800;1,200;1,400;1,800&display=swap');

* {
  font-family: 'Sora';
  color: #fff;
}

h1 a {
  color: #fff;
  font-weight: 700;
  font-size: 36px;
}


h1 a:hover {
  color: #ead;
  font-weight: 700;
}

h2, h3 {
  color: #fff;
}

p {
  font-family: 'Crimson Pro';
  font-size: 18px;
}

p a {
  font-size: 14.5px;
}

a {
  color: #ead;
}

a:hover {
  color: #f6c;
  font-weight: 400;
}

.small {
  color: #f6c;
}

p code {
  color: #cde;
  font-size: 14.5;
}

code .p, code .gs {
  color: #000;
}

body {
  background-color: #152;
}
